<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Welcome to Contact App!!<br>
    <form>
        <button formaction="http://127.0.0.1:5000/contacts">Display Contacts</button><br>
        <button formaction="http://127.0.0.1:5000/address">Display Contact Details</button><br>
        <button formaction="http://127.0.0.1:5000/addcontact">Add Contact</button><br>
        <button formaction="http://127.0.0.1:5000/add_address">Add Address</button><br>
    </form>
</body>

</html>