<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hello world</title>
</head>

<body>
<div>
    <h3 class="title">Add visitor details</h3>
    <div>
        <form method="POST" action="/new_home.html" name="pass_enter_data">
            <div>
                    <input  type="name" name="fname" placeholder="Your first name" >
            </div>
            <div>
                    <input  type="surname" name="lname" placeholder="Your last name" >
            </div>
            <div>
                    <input  type="addr" name="addr" placeholder="Your address" >
            </div>
                        <div>
                    <input  type="addr" name="pin" placeholder="Your pincode" >
            </div>
                        <div>
                    <input  type="addr" name="mob" placeholder="Your contact" >
            </div>
                        <div>
                    <input  type="addr" name="email" placeholder="Your email" >
            </div>
                        <div>
                    <input  type="addr" name="dob" placeholder="Your dob" >
            </div>
            <div>
                    <input type="contact" name="gender" placeholder="Your gender">
            </div>
        <button formaction="http://127.0.0.1:5000/">Update visitor</button><br>
        </form>
    </div>
</div>
</body>

</html>