<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <button formaction="http://127.0.0.1:5000/put_visitor_id">Update Visitor</button><br>
    <button formaction="http://127.0.0.1:5000/put_venue_id">Update Venue</button><br>
    <button formaction="http://127.0.0.1:5000/put_event_id">Update Event</button><br>
    <button formaction="http://127.0.0.1:5000/put_stall_id">Update Stall</button><br>
    <button formaction="http://127.0.0.1:5000/put_exhibitor_id">Update Exhibitor</button><br>
    <button formaction="http://127.0.0.1:5000/put_booking_id">Update Booking</button><br>
    <button formaction="http://127.0.0.1:5000/put_mccard_id">Update Mega Consumer Card</button><br>
    <button formaction="http://127.0.0.1:5000/put_industry_id">Update Industry</button><br>
    <button formaction="http://127.0.0.1:5000/put_state_id">Update State</button><br>
    <button formaction="http://127.0.0.1:5000/put_country_id">Update Country</button><br>

</form>
</body>
</html>