<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
To update Stall table data, enter the Stall Id :
<form action="http://127.0.0.1:5000/extract_bookingId_from_request" method="post" id="update_booking">
    <label for="booking_id">Stall id : </label><br>
    <input type="text" id="booking_id" name="booking_id"><br>
</form>

<form>
<button type="submit" form="update_booking" value="Submit">Submit</button>
<button formaction="http://127.0.0.1:5000/options">Back</button>
</form>

<br>(BOOKING TABLE FOR REFERENCE)

<table>
<!--    | booking_id | booking_date | total_amount | event_id | exhibitor_id -->
    <tr>
        <td>Booking Id</td>
        <td>Booking Date</td>
        <td>Total Amount</td>
        <td>Event Id</td>
        <td>Exhibitor Id</td>
  </tr>

  {% for item in booking_table %}
  <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
  </tr>
  {% endfor %}
</table><br>

</body>
</html>